.App {
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    --stagger-delay: 100ms;
}

/* Main Layout */

.section.inner {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.bold {
    font-weight: bold;
}

.label {
    align-self: center;
    color: white;
    padding: 8px;
    width: 75%;
}

.success {
    background-color: #04AA6D;
}

.info {
    background-color: #2196F3;
}

.anonymous {
    background-color: #92acc2;
}

.warning {
    background-color: #ff9800;
    opacity: 50%;
}

.danger {
    background-color: #f44336;
}

.other {
    margin: 2%;
    background-color: #e7e7e7;
    color: black;
}

.title {
    background-color: transparent;
    font-style: italic;
    color: black;
    user-select: none
}

.custom {
    display: flex;
    flex-direction: column;
    background: transparent;
    width: 75%;
}

img.avatar {
    margin: auto;
    width: 20%;
    border-radius: 50%;
    box-shadow: 0 0 5px 5px rgb(255, 255, 255);
}

img.avatar.waiting {
    width: 7%;
    opacity: 60%;
}

.waiting-div {
    overflow: hidden;
}

.waiting-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.lobby {
    overflow: hidden;
}

img.avatar.selectable {
    transition: box-shadow 1s ease
}

img.avatar.selectable:hover {
    box-shadow: 0 0 5px 3px rgb(0, 0, 0);
}

img.avatar.selected {
    box-shadow: 0 0 5px 3px rgb(0, 0, 0);
}

.avatars {
    align-self: center;
    width: 75%;
    display: flex;
    flex-direction: row;
}

.input {
    width: 100%;
}

.options {
    width: 75%;
}

.classic {
    color: #000000;
    background-color: #ff9800;
    border-color: #b77112;
}

.extended {
    color: #000000;
    background-color: #17c50d;
    border-color: #1c8118;
}

.fresh {
    color: #000000;
    background-color: #ec533f;
    border-color: #a6382d;
}

.separated {
    align-self: center;
    width: 75%;
    margin: 5px;
}

.Collapsible {
    font-style: italic;
    user-select: none;
    text-align: center;
    max-height: 100%;
    animation: cardEntrance 700ms ease-out;
    animation-fill-mode: backwards;
}

.Collapsible__contentInner {
    padding: 10px;
    font-style: normal;
    font-weight: bold;
}

.Collapsible__trigger {
    display: block;
    font-weight: 400;
    text-decoration: none;
    position: relative;
    padding: 10px;
}

.Collapsible__trigger:after {
    content: '\25be';
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    transition: transform 100ms;
}

.Collapsible__trigger.is-open:after {
    transform: rotateZ(180deg);
}

.Collapsible:nth-child(odd) {
    background: rgba(255, 255, 255, 0.96);
}

.Collapsible:nth-child(even) {
    background: rgba(255, 255, 255, 0.96);
}

/* Animation keyframes */

.fadein {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
